<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>About HopeHive</title>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo&amp;family=Coming+Soon&amp;family=Lemonada&amp;family=Libre+Baskerville&amp;family=Montserrat&amp;family=Readex+Pro&amp;family=Sacramento&amp;display=swap"
            rel="stylesheet"
        />
        <!-- My Style -->
        <link rel="stylesheet" href="/css/Footer.css" />
        <link rel="stylesheet" href="/css/NavigationBar.css" />
        <link rel="stylesheet" href="/css/footer-links.css" />
        <!-- Bootstrap CDN-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font awesome lib/css/all.min.css" />
    </head>

    <body
        id="page-top"
        data-bs-spy="scroll"
        data-bs-target="#mainNav"
        data-bs-offset="72"
    >
        <%- include('partials/navbar') -%>
        <div class="main">
            <div class="intro">
                <h2 class="text-center">About HopeHive</h2>
            </div>
            <p>
                Welcome to HopeHive, a dedicated platform committed to making a
                positive impact on the lives of those in need. We are a
                passionate team of individuals driven by a common goal: to
                support and uplift communities through charitable initiatives.
                Our mission is to bridge the gap between those who can help and
                those who require assistance, fostering a spirit of compassion,
                empathy, and social responsibility. With a focus on transparency
                and efficiency, we strive to maximize the impact of every
                donation and ensure that resources reach those who need them the
                most. Through collaborative partnerships, strategic programs,
                and effective management, we aim to create sustainable change
                and empower individuals to lead fulfilling lives. Together, we
                can make a difference and create a brighter future for all. Join
                us in our journey of compassion and generosity as we work
                towards a world where everyone has the opportunity to thrive.
            </p>
        </div>

        <%- include('partials/footer') -%>

        <!-- JQuery Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"
        ></script>
        <!-- My JS -->
        <script src="/js/navigationBar.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>
