<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Terms & Conditions</title>
        <!-- Google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link
            rel="preconnect"
            href="https://fonts.gstatic.com"
            crossorigin=""
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Cairo&amp;family=Coming+Soon&amp;family=Lemonada&amp;family=Libre+Baskerville&amp;family=Montserrat&amp;family=Readex+Pro&amp;family=Sacramento&amp;display=swap"
            rel="stylesheet"
        />
        <!-- My Style -->
        <link rel="stylesheet" href="/css/Footer.css" />
        <link rel="stylesheet" href="/css/NavigationBar.css" />
        <link rel="stylesheet" href="/css/footer-links.css" />
        <!-- Bootstrap CDN-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
            crossorigin="anonymous"
        />

        <!-- Font Awesome -->
        <link rel="stylesheet" href="font awesome lib/css/all.min.css" />
    </head>

    <body
        id="page-top"
        data-bs-spy="scroll"
        data-bs-target="#mainNav"
        data-bs-offset="72"
    >
        <%- include('partials/navbar') -%>
        <div class="main">
            <div class="intro">
                <h2 class="text-center">Terms & Conditions</h2>
            </div>
            <p>
                By accessing and using the HopeHive website, you agree to comply
                with the following terms and conditions. The content provided on
                our website is for informational purposes only and should not be
                construed as professional advice or endorsement unless
                explicitly stated. We reserve the right to modify, update, or
                remove any content on the website without prior notice. While we
                strive to ensure the accuracy and timeliness of the information
                presented, we make no representations or warranties of any kind,
                express or implied, regarding the completeness, accuracy,
                reliability, suitability, or availability of the website or the
                information, products, services, or related graphics contained
                on the website. Any reliance you place on the information
                provided on this website is strictly at your own risk. In no
                event will [Charity Organization Name] be liable for any loss or
                damage, including without limitation, indirect or consequential
                loss or damage, or any loss or damage whatsoever arising from
                loss of data or profits arising out of, or in connection with,
                the use of this website. Our website may contain links to
                external websites that are provided for your convenience. We do
                not have control over the nature, content, and availability of
                those sites. The inclusion of any links does not necessarily
                imply a recommendation or endorsement of the views expressed
                within them. By using our website, you agree not to engage in
                any activities that may disrupt or interfere with the proper
                functioning of the site, including but not limited to
                introducing viruses, malware, or other harmful code. All
                intellectual property rights pertaining to the content, design,
                and graphics on the website are owned by or licensed to [Charity
                Organization Name]. Reproduction or distribution of any material
                on the website is prohibited without the explicit consent of the
                charity. These terms and conditions are governed by and
                construed in accordance with the laws of Jurisdiction. Any
                dispute arising out of or in connection with these terms shall
                be subject to the exclusive jurisdiction of the courts of
                Jurisdiction. If you have any questions or concerns about these
                terms, please
                <a href="mailto:yazanalshabki2001@gmail.com" class="contact">
                    contact us </a
                >.
            </p>
        </div>

        <%- include('partials/footer') -%>

        <!-- JQuery Google CDN -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
        <!-- Bootstrap JS -->
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
            integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
            integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
            crossorigin="anonymous"
        ></script>
        <!-- My JS -->
        <script src="/js/navigationBar.js"></script>
        <script src="/js/home.js"></script>
    </body>
</html>
